:root{
    --dark-main-color: #4F302B;
    --main-color: #F0E2C5;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #f8f6ed;
    --transition: 0.5s ease-in;;
}




/* Start constants */
/* End constants */


/* Start Landing */


.about-landing .title {
  color: var(--dark-main-color);
  position: relative;
  width: fit-content;
  margin: auto;
}
.about-landing .title::after{
  background-color: var(--dark-main-color);
  bottom:-6px;
  content: "";
  height: 5px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  transition: all .3s;
  width:100%;
  z-index: 10;
}
.about-landing .about-title {
  color: var(--dark-main-color);
  font-size: 60px;  
}
@media (max-width: 991px){
  .about-landing .about-title{
  font-size: 40px; 
  }
}
  /* End landing */
  /*Start footer*/

  

  /*Start footer*/


