:root{
    --dark-main-color: #4F302B;
    --main-color: #F0E2C5;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #f8f6ed;
    --transition: 0.5s ease-in;;
}




.form .container .mail-input, .name-input{
    padding: 20px 80px;
    background-color: #eceef1;
    border:1px solid #979798;
}
.form .container .send-btn{
    background-color: var(--dark-main-color);
    padding: 20px 50px;
}
.contact-landing .title {
    color: var(--dark-main-color);
    position: relative;
    width: fit-content;
    margin: auto;
  }
  .contact-landing .title::after{
    background-color: var(--dark-main-color);
    bottom:-6px;
    content: "";
    height: 5px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    transition: all .3s;
    width:100%;
    z-index: 10;
  }